
$primary-color:#FE7A49;

a {
	text-decoration: none;
	color: white;
}
	a:hover {
		color: white;
	}

.border-tlr-radius { 
	border-top-left-radius: 2px;
	border-top-right-radius: 2px; 
}

.text-center { text-align: center; }

.radius { border-radius: 2px; }

.padding-tb { padding-top: 1.6rem; padding-bottom: 1.6rem;}

.shadowDepth0 { box-shadow: 0 1px 3px rgba(0,0,0, 0.12); }

.shadowDepth1 {
   box-shadow: 
  		0 1px 3px rgba(0,0,0, 0.12),
    	0 1px 2px rgba(0,0,0, 0.24);      
}


/**
 * Card Styles
 */

 h5{
     font-weight:800;
 }
.card {
  background-color: #fff;
  border:1px solid $primary-color;
  text-align:center;
  width: 280px;
  margin: 0px auto;
  margin-bottom:4rem;
}

.card__padding {
	padding: 1.6rem;
}
.card__content {
	position: relative;
}


/* card article */
.card__article{
    margin-top:40px;
}
.card__article h4{
	padding: 0 1rem;
}


.card__article a {
	text-decoration: none;
	color: $primary-color;
	transition: all 0.5s ease;
  text-align:center;
  font-size:14px;
}
	.card__article a:hover {
		color: #2980b9;
	}

.card__share {
/* 	  float: right; */
    position: relative;
    margin-top: -50px;
  display:flex;
  justify-content:center;
/*     right: 130px; */
}

.card__social {
	position: absolute;
	top: 0;
	right: 0;
	visibility: hidden;
	width: 160px;
	transform: translateZ(0);
  	transform: translateX(0px);
  	transition: transform 0.35s ease;
}
	.card__social--active {
		visibility: visible;
		/*z-index: 3;*/
		transform: translateZ(0);
 		transform: translateX(-48px);
  		transition: transform 0.35s ease;
	}

.share-toggle {
	z-index: 2;
}
.share-toggle:before {
	content: "\f1e0";
	font-family: 'FontAwesome';
	color: white;
}
	.share-toggle.share-expanded:before {
		content: "\f00d";
	}

.share-icon {
	display: inline-block;
	width: 48px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	border-radius: 50%;
	background-color: $primary-color;
    color: white;
	transition: all 0.3s ease;
	outline: 0;
	font-size:18px;

	box-shadow: 
	  		0 2px 4px rgba(0,0,0, 0.12),
	    	0 2px 4px rgba(0,0,0, 0.24);
}
	.share-icon:hover,
	.share-icon:focus {
		box-shadow: 
	  		0 3px 6px rgba(0,0,0, 0.12),
	    	0 3px 6px rgba(0,0,0, 0.24);

	    -webkit-transform: scale(1.2);
	    -moz-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	    -o-transform: scale(1.2);
	    transform: scale(1.2);
	}

.joinfantacy_block{
    padding: 40px 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
}
p{
    font-size:18px;
}

.orange{
	color: $primary-color
}

.header-title{ 
 font-size:40px;
 color:$primary-color;
 margin-bottom:50px;
 display: flex;
 justify-content: center;
}
.header-content{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    /* margin-top:30px; */
}
.hero {
    padding:160px 0px;
	background-color: #000000;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../images/inner_banner.svg');
  background-position: center;
	background-size: cover;
	color: #ffffff;
	/* padding: 1em; */
	text-align: center;
}
.content-align{
    text-align: justify;
    padding:0px;
    margin-bottom:60px;
}



@media screen and (max-width: 768px) {
    /* .joinfantacy_block{
        padding: 160px 0 40px ;
    } */
    .header-title{
        font-size:25px;
    }
    .hero {
        padding:60px 0px;
        background-position: right 30% top 25%;       
         /* background-size: cover; */
    }
	.content-align p{
		padding:0px 30px;

	}
	.card {
		width:200px;
	}

}


