/* $red:yellow; */

body {
  margin: 0;
  font-family: "Sports World";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background-color: black;
  /* background-color: $red; */
}

html,
body {
  overflow-x: hidden;
}

$primary: #fe7a49;
$primary-color: #fe7a49;

/******* custom fonts *****/

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@font-face {
  font-family: "Sports World";
  src: local("Sports World"),
    url("./fonts/SportsWorld-Regular.ttf") format("truetype");
  font-weight: bold;
}

h1 {
  font-family: "Sports World";
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #eb5757;
  border-radius: 10px;
  margin-top: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #eb5757;
}
